@sap:registry=http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones.npm/
node_sqlite3_binary_host_mirror=http://nexus.wdf.sap.corp:8081/nexus/content/repositories/build.releases.unzip/com/sap/cds/node-sqlite3-binary/4.0.7/node-sqlite3-binary-4.0.7.zip-unzip
strict-ssl=false
package-lock=false
#WRITE_LOCK package-lock=true
