<?xml version="1.0" encoding="UTF-8"?>
<context xmlns="http://client.incr.tpip.bosap.com">
    <contact>
        <name>Oliver Klemenz</name>
        <email>oliver.klemenz@sap.com</email>
    </contact>

    <repository id="1" description="cds-odata-v2-adapter-proxy">
        <type>git</type>
        <host>git@github.wdf.sap.corp:cds-community/cds-odata-v2-adapter-proxy.git</host>
        <paths id="1" cat="src" description="git:ssh">
            <access>
                <protocol>ssh</protocol>
                <gitBranch>master</gitBranch>
            </access>
            <path ver="latest">/lib</path>
        </paths>
    </repository>

</context>
