@sap:registry=https://int.repositories.cloud.sap/artifactory/api/npm/build-milestones-npm/
node_sqlite3_binary_host_mirror=https://int.repositories.cloud.sap/artifactory/build-releases/com/sap/cds/node-sqlite3-binary/5.0.4/node-sqlite3-binary-5.0.4.zip!/
strict-ssl=false
package-lock=false
